{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {

        }
    },
    "rules": {

    },
    "env": {
        "browser": true,
        "node": true
    }
}